<li>
	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Redis<span class="caret"></span></a>
	<ul class="dropdown-menu">
		<li><a href="/redis/admin">Overview</a></li>
		<li><a href="/redis/admin/keys">Les keys</a></li>
	</ul>
</li>