<li>
	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Redis<span class="caret"></span></a>
	<ul class="dropdown-menu">
		<li><a href="{{ path('didungar_redis_admin_index') }}">Overview</a></li>
		<li><a href="{{ path('didungar_redis_admin_keys') }}">Les keys</a></li>
		<li><a href="{{ path('didungar_redis_admin_info') }}">Informations serveur</a></li>
	</ul>
</li>